# Postgres
POSTGRES_USER=your_user_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=ecommerce

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=generate-with-python-command
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__WEBSERVER__SECRET_KEY=generate-randomly

# AWS / LocalStack
LOCALSTACK_HOSTNAME=localstack
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test